<div class="wrapper">
  <nav class="navbar navbar-light bg-light fixed-top">
    <%= render partial: 'nav_bar', locals: { departments: @departments } %>
  </nav>

  <div class="event">
    <div class="box17">
        <div class="box-title">
          <p class="font-weight-bold"><span class="rotate-anime rotate-anime1"><i class="fa fa-cog"></i></span>P.O.W.U 取扱説明書<span class="rotate-anime rotate-anime1"><i class="fa fa-cog"></i></span></p>
        </div>
        <p>左上の「<i class="fa fa-bars"></i>」から予定リストを確認できます</p>
        <p>左上の「<i class="fa fa-plus-circle"></i>」ボタンから予定表を作成できます</p>
        <p>予定表を削除する場合は選択した状態で予定リスト内 <i class="fa fa-times-circle" style="color:red;"></i>ボタンから削除できます</p>
        <p>ユーザー名をクリックするとマイページへ遷移できます</p>
        <p>マイページよりアカウント編集・ログアウトが可能です</p>
    </div>
  </div>
  <%= render partial: 'loading' %>
</div>