<div class="wrapper">
  <nav class="navbar navbar-light bg-light fixed-top">
    <%= render partial: 'departments/nav_bar', locals: { departments: @departments } %>
  </nav>

  <div class="event">
    <%= render "main_event" %>
  </div>
</div>